body{
    background-color: rgb(140, 232, 232);
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
}
a{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: white;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
main p{
    color: navy;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
h2{
    color: navy;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
.overview-heading{
    color: navy;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: larger;
}
.planning-link{
    color: navy;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: larger;
}
.site-pic{
    height: 50vh;
    width: 40vw;
    
}
ol{
    
}
.intro-pic{
    height: 40vh;
    max-height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption{
    text-align: center;
    font-style: italic;
}
p{
    font-family: "Montserrat", sans-serif;
    color: white;
}

header{
    background-color: navy;
    padding: 5px;
}
nav{
    text-align: right;
    color: white;
    margin-right: 30px;
}
nav a{
    margin-top: auto;
    margin-bottom: auto;
}
footer{
	background-color: navy;
	position: relative;
    padding:10px 0 10px 0;
    margin-top:auto;
}
footer p{
    text-align: center;
    
}
.simple-table{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.simple-table th, .simple-table td{
    border: 1px solid black;
}
.table-h3{
    font-family: Montserrat, sans-serif;
    color: navy;
    text-align: center;
}
ol li{
    text-align: center;
    list-style-position: inside;
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
}
.complex-table{
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat, sans-serif;
    border: 2px solid navy;
    border-collapse: collapse;
}
.complex-table th, .complex-table td{
    border: 2px solid navy;
    margin: 10px;
    padding: 0.5rem;
}
.header-row{
    background-color: rgb(48, 48, 177);
    color: white;
}
.complex-table tr:nth-child(even){
    background-color: rgba(73, 73, 197, 0.5);
}


/*Tablet accessibility*/
@media screen and ( min-width: 601px ) and ( max-width: 980px ){
    header{
        text-align: center;
    }
    header nav{
        text-align: center;
        margin-bottom: 20px;
    }
    main ul{
        margin-left: 5%;
        margin-right: 5%;
    }
    footer nav{
        text-align: center;
    }
}

/*Mobile accessibility*/
@media screen and ( min-width: 370px ) and ( max-width: 600px ){
    header{
        text-align: center;
    }
    header nav{
        text-align: center;
        margin-bottom: 20px;
    }
    main ul{
        margin-left: 5%;
        margin-right: 5%;
    }
    footer nav{
        text-align: center;
    }
    main ul li{
        margin-bottom: 20px;
    }
}

