<nav>
    <a href="https://webpages.charlotte.edu/cgutier6/">Charlotte.edu</a>
    ||
    <a href="https://github.com/cgutie23/cgutie23.github.io">Github</a>
    ||
    <a href="https://www.freecodecamp.org/cgutie23">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/cgutie23">CodeCademy</a>
    ||
    <a href="https://www.linkedin.com/in/christopher-gutierrez-622b9a1b9/">LinkedIn</a>
</nav>
<p>Page built by <a href="calmgeckogeeks.com">Calm Gecko Geeks</a>&copy; 2025</p>			
	